* {
  margin: 0px;
  padding: 0px; }

body {
  min-height: 100vh;
  background-color: #f0eeee; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #272626; }

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #272626;
  text-align: center;
  list-style-type: none; }

ul {
  text-decoration: none; }

.parrafo {
  padding: 12px 24px 12px 24px;
  text-align: center; }

.categorias__contenedor {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 36px; }

.nosotros {
  display: flex;
  margin: 5% 10% 10% 10%;
  justify-content: space-between;
  align-items: center; }
  .nosotros__img {
    padding: 0px 48px; }

.sucursales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%; }
  .sucursales__img {
    grid-area: sucursales__img;
    display: flex;
    justify-content: center;
    padding: 10%; }

.galeria {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center; }

.card:hover {
  border: 2pt solid #cb6153; }

.mapa {
  display: flex;
  margin: 5%;
  justify-content: center; }

.nosotros__equipo {
  grid-area: nosotros__equipo;
  text-align: center;
  margin: 5% 5% 5% 5%; }

.nosotros__personas {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  gap: 5%; }

.nosotros__miembro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 48px;
  gap: 24px; }

.nosotros__info {
  display: flex;
  flex-direction: column;
  gap: 24px; }

.contacto__tit {
  margin: 5%; }

.contacto__form {
  margin: 5%; }

.nosotros__equipo {
  grid-area: nosotros__equipo;
  text-align: center;
  margin: 5% 5% 5% 5%; }

.nosotros__personas {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  gap: 5%; }

.nosotros__miembro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 48px;
  gap: 24px; }

.nosotros__info {
  display: flex;
  flex-direction: column;
  gap: 24px; }

.text-uppercase {
  text-align: left; }

.list-unstyled {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left; }

.links {
  text-decoration: none;
  list-style-type: none;
  color: #272626; }

.page-footer {
  background-color: #ebebeb; }
