//Variables//

$color-primario: #cb6153;
$color-secundario: #e7b2a4;
$negro: #272626;
$blanco: rgb(240, 238, 238);
$gris: rgb(232, 232, 232);

footer {
  &__links {
    text-decoration: none;
    color: $negro;
  }
}
