// FOOTER //

.text-uppercase {
  text-align: left;
}

.list-unstyled {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.links {
  text-decoration: none;
  list-style-type: none;
  color: $negro;
}

.page-footer {
  background-color: $gris;
}
